<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Hurricanes</title>
	<meta name="author" content="Stefan Abi-Karam">
	<meta name="Description" content="The National Hurricane Center's Atlantic Hurricane Database">

	<link rel="shortcut icon" href="#" />

	<script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" defer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js" integrity="sha256-J2sc79NPV/osLcIpzL3K8uJyAD7T5gaEFKlLDM18oxY=" crossorigin="anonymous" defer></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js" integrity="sha256-L3S3EDEk31HcLA5C6T2ovHvOcD80+fgqaCDt2BAi92o=" crossorigin="anonymous" defer></script>
	<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin="" defer></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js" defer></script>

	<link rel="stylesheet" href="stylesheet.css" type="text/css" defer>
	<script src="app.js" defer></script>
</head>


<body>
	<div class="main-padding">
		<div id="app" class="main-container">

			<div id="map-wrapper">
				<div id="map" class="card"></div>
			</div>

			<div id="selected-hurricane" class="card">
				<div id="none-selected" v-if="!selectedHurricane">
					<h3>No Selected Hurricane</h3>
				</div>
				<div id="hurricane-selected" v-if="selectedHurricane">
					<h3>{{ selectedHurricane.storm_name }}</h3>
					<p>{{ selectedHurricane.ATCF_code }}</p>

					<table>
						<thead>
							<tr>
								<th>Datetime</th>
								<th>Special Entry</th>
								<th>Storm Status</th>
								<th>Latitude, Longitude</th>
								<th>Maximum Sustained Winds</th>
								<th>Minimum Presure</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="fix in selectedHurricane.fixes">
								<td>{{ fix.dateime_iso }}</td>
								<td>{{ fix.special_entries }}</td>
								<td>{{ fix.storm_status }}</td>
								<td>{{ fix.latitude }}, {{ fix.longitude }}</td>
								<td>{{ fix.max_sus_wind }}</td>
								<td>{{ fix.min_pressure }}</td>
							</tr>
						</tbody>
					</table>

					<!--<canvas id="wind-chart"></canvas>
					<canvas id="pressure-chart"></canvas>-->
				</div>
			</div>

			<div id="title" class="card">
				<h3>The National Hurricane Center's Atlantic Hurricane Database</h3>
				<p>Created by Stefan Abi-Karam</p>
				<a href="http://www.aoml.noaa.gov/hrd/">NOAA's Hurricane Research Division (HRD)</a>
			</div>

			<div id="options" class="card">
				<h3>Options</h3>
				<label>Year:</label>
				<label for="startYear">from</label>
				<input type="number" min="1" v-model="filterOptions.startYear" id="startYear" @change="optionChanged">
				<label for="endYear">to</label>
				<input type="number" min="1" v-model="filterOptions.endYear" id="endYear" @change="optionChanged">
				<br>
				<label for="nameATCF">Name / ATCF Code:</label>
				<input type="text" v-model="filterOptions.nameATCF" id="nameATCF" @change="optionChanged">
			</div>

			<div id="data" class="card">
				<div id="results">
					<div class="card data-item" v-for="hurricane in filteredHurricanes">
						<h4>{{ hurricane.storm_name }}</h4>
						<p>{{ hurricane.ATCF_code }}</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</body>

</html>
